<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}Simple Todo{% endblock %}</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block extra_head %}
        <style>
            body {
                padding-top: 40px;
            }

            .ftodo {
                text-decoration: line-through;
            }

            textarea {
                width: 97%;
                padding: 5px;
                font-size: 14px;
                resize: vertical;
            }
        </style>
        <script type="text/javascript">
            function sendtwitter() {
                $('#myModal form').submit(function () {
                    $.ajax({
                        type: "POST",
                        data: $('#myModal form').serialize(),
                        url: "{% url "add" %}",
                        cache: false,
                        dataType: "html",
                        success: function (html, textStatus) {
                            $('#todo').replaceWith(html);
                            $('#myModal').modal('hide');
                            $('#myModal form')[0].reset();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
                        }
                    });
                    return false;
                });
            }

            $(document).ready(function () {
                sendtwitter();
            })
        </script>
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span8 offset2">
            <div id="todo" class="well">
                {% block todo %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td>
                                <h3 class="text-success">待办事项</h3>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for todo in todolist %}
                            {% if todo.priority == '1' %}
                                <tr class='error'></tr>
                            {% endif %}
                            {% if todo.priority == '2' %}
                                <tr class='warning'></tr>
                            {% endif %}
                            {% if todo.priority == '3' %}
                                <tr class='info'></tr>
                            {% endif %}
                            <td class="todo">{{ todo.todo }}</td>
                            <td class="te">
                                <div class="span2">
                                    <a href="{% url 'finish' todo.id %}" title="finish"><i
                                            class="glyphicon glyphicon-ok" style="font-size:24px;"></i></a>
                                    <a href="{% url 'update' todo.id %}" title="edit"><i
                                            class="glyphicon glyphicon-pencil" style="font-size:24px;"></i></a>
                                    <a href="{% url 'delete' todo.id %}" title="delete"><i
                                            class="glyphicon glyphicon-trash" style="font-size:24px;"></i></a>
                                </div>
                            </td>

                        {% endfor %}
                        {% for ftodo in finishtodos %}
                            <tr class='success'>
                                <td class="ftodo muted">{{ ftodo.todo }}</td>
                                <td class="te">
                                    <div class="span2">
                                        <a href="{% url "backout" ftodo.id %}" title="redo"><i
                                                class="glyphicon glyphicon-repeat" style="font-size:24px;"></i></a>
                                        <a href="{% url "update" ftodo.id %}" title="edit"><i
                                                class="glyphicon glyphicon-pencil" style="font-size:24px;"></i></a>
                                        <a href="{% url "delete" ftodo.id %}" title="delete"><i
                                                class="glyphicon glyphicon-trash" style="font-size:24px;"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-success" href="#myModal" role="button" data-toggle="modal">
                        <i class="glyphicon glyphicon-plus icon-white"></i><span> ADD</span>
                    </a>
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Add TODO</h3>
            </div>
            <form action="" method="post">{% csrf_token %}
                <div class="modal-body">
                    <textarea name="todo" class="txtodo" id="txtodo" required="required">{{ todo.todo }}</textarea>
                    <fieldset style="padding-left: 10px">
                        <label class="radio inline" for="priority">
                            <span class="label label-info">Priority</span>
                        </label>
                        <label class="radio inline" for="priority">
                            <input type="radio" name="priority" value="1"/>
                            <span class="label label-important" style="background-color: red;">紧急</span>
                        </label>
                        <label class="radio inline" for="priority">
                            <input type="radio" name="priority" value="2"/>
                            <span class="label label-warning">重要</span>
                        </label>
                        <label class="radio inline" for="priority">
                            <input type="radio" name="priority" value="3"/>
                            <span class="label label-success">一般</span>
                        </label>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button id="send" class="btn btn-success" type="submit" name="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>